.card {
  border-radius: 5px;
  border: 0.5px;
  border-color: black;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  img {
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .content {
    margin-left: 10px;
    b {
    }
    p {
      margin-top: 5px;
      margin-bottom: 20px;
      font-size: 15px;
    }
  }
}
